[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ
GenericName=IDE
Comment=The IDE for Professional Development in Java and Kotlin
Exec=/opt/idea-IC/bin/idea
Icon=/opt/idea-IC/bin/idea.png
Terminal=false
MimeType=text/plain;
Categories=Development;IDE;
StartupNotify=true
